<% if current_user.id == @user.id %>
<%= link_to "Edit profile", edit_user_path %>
<% end %>



<br>
<br>
<%= image_tag @user.image.url(:thumb) %>
<br>
<strong> Name: </strong> <%= @user.name %>
<br>
<strong> E-mail: </strong> <%= @user.email %>
<br>
<strong> About Me: </strong> <%= @user.description %>
<br>
<strong> Projects Started </strong>

<% @projects_started.each do |project| %>
  <p><%= project.name %></p>
<% end %>
<br>
