<div class='profile-container-side'>

    <h1> Hi, I'm <%= @user.name %>
      <br>
      <%= image_tag @user.image.url(:bigthumb) %>
    </h1>
    <h3> E-mail: </h3> <h4> <%= @user.email %> </h4>
    <h2>
      <% if current_user.id == @user.id %>
      <%= link_to "Edit profile", edit_user_path %>
      <% end %>
    </h2>

    <h5> About Me: </h5> <h6> <%= @user.description %> </h6>
    <h5> Projects Started </h5>
    <h6>  <% @projects_started.each do |project| %>
      <li> <%= project.name %></li>
      <% end %>
    </h6>
</div>
