<% @projects = @projects.sort_by {|project| project.launch_date} %>

	<% @projects.each do |project| %>
		
		<div class='project-container'>
			<div class='image-container'><%= image_tag project.image.url(:medium), class: 'project-image' %></div>
			<div class='text-container'>
				<p class='bold-text'><%= link_to project.name, project_path(project) %></p>
				<p><%= project.description %><p>
					<br>
					<br>
				<p><span class='bold-text'>Launch date: </span><%= project.launch_date.strftime('%d/%m/%Y') %></p>
				<p><span class='bold-text'>Posted by: </span> <%= User.find(project.user_id).email %></p>
			</div>
		</div>
	<% end %>