
<%= @project.name %>
Project Description
No features yet

<%= link_to 'Add Feature', new_project_feature_path(@project) %>

<% @project.features.each do |feature| %>

	<p><%= link_to feature.name, feature_path(feature) %></p>
	<p><%= feature.description %></p>
	<p><%= feature.deadline.strftime("%y/%m/%d") %></p>

		<% if feature.requests.any? %>
				<% feature.requests.each do |request| %>
					<% if request.assigned %>
						<p>Show interest</p>
					<% else %>
						<% return %>
						<p>Not assigned</p>
						<p><%= link_to 'Send Request', feature_requests_path(feature), method: :post %></p>
					<% end %>
				<% end %>
		<% else %>
				<p>Not assigned</p>
				<p><%= link_to 'Send Request', feature_requests_path(feature), method: :post %></p>
		<% end %>
<% end %>
