<div class='project-pic-container'>
	<%= image_tag @project.image.url(:large), class: 'project-main-image' %>
<div>

<div class='project-title'><%= @project.name %></div>
<div class='project-description'><%= @project.description%></div>


<%= render "feature_list" %>

<div class='add-feature-link'>
	<%= link_to 'Add Feature', new_project_feature_path(@project), class:'add-ft-link-text' %>
</div>

<div class='footer'>
   <a href='/'><img class='full-logo-footer' src='/images/full_logo.png'/></a>
 </div>
