
<%= @project.name %>
Project Description
No features yet

<%= link_to 'Add Feature', new_project_feature_path(@project) %>

<% @project.features.each do |feature| %>

	<p><%= link_to feature.name, feature_path(feature) %></p>
	<p><%= feature.description %></p>
	<p><%= feature.deadline.strftime("%y/%m/%d") %></p>

		<% if feature.requests.any? %>
				<% feature.requests.each do |request| %>
					<% if request.assigned %>
						<p>This feature has already been assigned to another user</p>
					<% else %>
					<div>
						<p>Not assigned</p>
						<span class=request-status>Inside loop</span><%= link_to 'Send Request', feature_requests_path(feature), class: 'request-link'%></div>
					<% end %>
				<% end %>
		<% else %>
				<div>
				<p>Not assigned</p>
				<span class=request-status>Outside loop</span><%= link_to 'Send Request', feature_requests_path(feature), class: 'request-link'%></div>
		<% end %>
<% end %>
