<h1><%= @feature.project.name %><h1>
<h2><%= @feature.name %></h2>
<h3>Description:<h3>
<p><%= @feature.description %></p>
<h3>Assigned Developer: <%= @dev %></h3>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
<%=  %>
