<div class="feature-container">
	<h3>Project:</h3> <h4><%= @feature.project.name %></h4>
	<h3>Feature:</h3> <h4><%= @feature.name %></h4>
	<h3>Description:<h3> <h4><%= @feature.description %></h4>
	<h3>Assigned Developer:</h3> <h4><%= @dev %></h4>

	<%= render "request_list" %>
</div>
