<!DOCTYPE html>
<html>
  <head>
    <title>CrowdCode</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <ul class='navbar'>

        <li class='nav-content-left'><%= link_to "Start a project" %></li>
        <li class='nav-content-left'><%= link_to "About us" %></li>
          
      <li class='navbar-center'><a href='/'><img class='name-logo' src='/images/full_logo.png'/></a></li>  

      <% if current_user %>
      
          <li class='nav-content-right'><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <li class='nav-content-right'><%= link_to "My profile", current_user %></li>
        
      <% else %>
      
          <li class='nav-content-right'><%= link_to "Sign in", new_user_session_path %></li>
          <li class='nav-content-right'><%= link_to "Sign up", new_user_registration_path %></li>
          <li class='nav-content-right'><%= link_to "Sign in with Github", user_github_omniauth_authorize_path %></li>

      <% end %>

    </ul>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
